*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*faz com que o elemento filho não saia para fora do pai*/
}

body {
    height: 100vh; /*interessante para colocar em padrão*/
    background-color: #03071e; 
    color: #f8f9fa;
}

.titulo-destaque {
    color: #d00000;
}

.texto-destaque-dois {
    color: #d00000;
}

a{
    border: 1px solid #9d0208;
    padding: 10px;
    background-color: #dc2f02;
    color: #03071e;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
