*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #03071e; 
    color: #f8f9fa;
}

.titulo-destaque {
    color: #d00000;
}

.titulo-destaque-dois {
    color: #e85d04;
}

a{
    border: 1px solid #9d0208;
    padding: 10px;
    background-color: #dc2f02;
    color: #03071e;
}
