@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*faz com que o elemento filho não saia para fora do pai*/
}

body {
    height: 100vh; /*interessante para colocar em padrão*/
    background-color: #03071e; 
    color: #f8f9fa;
    overflow: hidden;

}

.titulo-destaque {
    color: #d00000;
}

.texto-destaque-dois {
    color: #d00000;
}

.apresentacao {
    margin: 10% 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo { 
    font-size: 36px;
    font-family: "Krona One", sans-serif;


}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__links__link {
    border: 1px solid #9d0208;
    padding: 21.5px 0;
    width: 280px;
    border-radius: 16px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: #dc2f02;
    color: #03071e;
    font-size: 24px;
    text-align: center;
    text-decoration: none;

}

img {
    width: 20em;  
}